{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <h2>My Webboard</h2>
    <p>หัวข้อกระทู้</p>

    <div class="row">
        <div class="col-sm-4"> <a href="/show_topic/1"> <img src="../static/a.jpg" width="350" height="260"> </a> </div>
        <div class="col-sm-4"><a href="/show_topic/2"> <img src="../static/b.jpg" width="350" height="260">  </div>
        <div class="col-sm-4"><a href="/show_topic/3"> <img src="../static/d.jpg" width="350" height="260"> </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><a href="/show_topic/4"> <img src="../static/d.jpg" width="350" height="260"> </div>
        <div class="col-sm-4"><a href="/show_topic/5"> <img src="../static/e.jpg" width="350" height="260"> </div>
        <div class="col-sm-4"><a href="/show_topic/6"> <img src="../static/a.jpg" width="350" height="260">  </div>
    </div>

</div>

{% endblock %}